*{
    padding: 0;
    margin: 0
}

:root {
    --size: 100;
    --c-body: #160820
}

body{
    background: #160820;
    
}

h2{
    color: yellow;
}

.doofen{
    height: 50px;
    width: 50px;
}

img{
    width: 100%;
    height: 100%;
}

#contain{
    max-width: 400px;
    min-height: 860px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
}

nav{
    background-color: rgb(214, 207, 207);
    width: 100%;
    padding: 10px;
}

#counter{
    float: right;
}

#tiles{
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
    width: 80%;
    margin-top: 0px;
    height: calc(6*var(--size) * 1px);
}

.hidden{
    z-index: 10;
    background-color: #160820;
}

.top, .low, .row{
    height: calc(1*var(--size) * 1px);
    width: 100%;
}

.top{
    position: absolute;
    top: 0;
    background: var(--c-body);
}

.low{
    position: absolute;
    bottom: 0;
    background: red;
    border: none;
    outline: none;
}

.rows{
    transform: translateY(0px);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 1;
}

.row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.newRow {
display: grid;
grid-template-columns: repeat(3, 1fr);
height:1px;
width: 100%;
}

.card{
    background-color: aliceblue;
    outline: 1px solid black;
}

.black {
    background-color: black;
}