*{
    padding: 0;
    margin: 0
}

:root {
    --size: 100;
    --c-body: #160820
}

body{
    background: #160820;

}

h2{
    color: yellow;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;

}
#doofen{
    position: relative;
    width: 50%;
    display: flex;

}

#doofen h2 {
    position: absolute;
    font-size: 40px;
    padding: 20px;
    filter: drop-shadow(16px 16px 10px black)
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#play > *{
    text-decoration: none;
}

#play{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
}

#play > a, .low > button {
    background-color: rgb(215, 239, 52);
    color: #180624;
    font-size: large;
    border-radius: 10px;
    display: inline;
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;

}


#contain{
    max-width: 400px;
    min-height: 860px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
}

nav{
    background-color: rgb(214, 207, 207);
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

nav > * {
    padding: 0 15px;
}

nav > ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

nav p {
    text-align: center;
}
#counter{
    float: right;
}

#tiles{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
        border: 1px solid black;

    width: 80%;
    height: calc(6*var(--size) * 1px);
}

.hidden{
    z-index: 10;
    background-color: #160820;
}

.top, .low, .row{
    height: calc(1*var(--size) * 1px);
    width: 100%;
}

.top{
    position: absolute;
    top: 0;
    background: var(--c-body);

}

.low{
    position: absolute;
    bottom: 0;
    background: red;
    border: none;
    outline: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rows{
    transform: translateY(0px);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 1;
}

.row{
    display: grid;
}


.three {
    grid-template-columns: repeat(3, 1fr);
}

.four {
    grid-template-columns: repeat(4, 1fr);
}

.five {
    grid-template-columns: repeat(5, 1fr);
}

.six {
    grid-template-columns: repeat(6, 1fr);
}

.seven {
    grid-template-columns: repeat(4, 1fr);
}


.newRow {
display: grid;
height:1px;
width: 100%;
}

.card{
    background-color: aliceblue;
    outline: 1px solid black;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
}

.info {
    color: #fff;
    font-weight: bold;
}

.speedMe {
        background-color: rgb(215, 239, 52);
    color: #180624;
    font-size: large;
    border-radius: 10px;
    display: inline;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.blink {
    animation-duration: .8s;
   animation-name: blink;
   animation-iteration-count: infinite;
   transition: none;
}

.emoji {
    content: "&#128521";
}

.black {
    background-color: black;
}

.modal {
    background-color: #fff;
    color: var(--c-body);
    width: 300px;
    height: 150px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 200;
    display: flex;
    flex-direction: column;
    border: 2px solid #000;
    padding:10px;
    display: none;
}

.modal-title, .modal-footer {
    height: 50px;
}

.modal-footer {
    display: flex;
    justify-content: space-around;
        height: 50px;
}
.modal-body {
    height: 50px;
}

.close, .confirm {
    border: 1px solid var(--c-body);
    text-align: center;
    vertical-align: center;
    padding: 5px 15px;
    height: 30px;
    vertical-align: center;
    font-size: 14px;
    line-height: 28px;

}

@media only screen and (max-width: 768px) {
    #doofen {
        width: 100%;
    }

    .app {
        flex-direction: column;
    }

    #doofen {
        order: 2;
    }

    #play {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
        min-height:200px;
    }

}

@keyframes blink {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}